@if (employee_id === 0) {
<p>Chargement...</p>
} @else if (isNaN(employee_id)) {
<p>Employé inconnu. <a routerLink="../">Retour à la liste des employés.</a></p>
} @else {
<h2>Liste des paies de {{employee?.firstName}} {{employee?.lastName}}:</h2>
<div class="flex flex-row justify-between">
    <mat-form-field>
        <mat-label>Filtrer par date:</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Début">
            <input matEndDate formControlName="end" placeholder="Fin">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker" />
        <mat-date-range-picker #picker>
            <mat-datepicker-actions>
                <button matButton matDatepickerCancel>Annuler</button>
                <button matButton="elevated" matDatepickerApply>Confirmer</button>
            </mat-datepicker-actions>
        </mat-date-range-picker>

        @if (range.controls.start.hasError('matStartDateInvalid')) {
        <mat-error>Date de début invalide</mat-error>
        }
        @if (range.controls.end.hasError('matEndDateInvalid')) {
        <mat-error>Date de fin invalide</mat-error>
        }
    </mat-form-field>
    <button mat-flat-button (click)="add()">Ajouter une nouvelle feuille</button>
</div>
<div class="flex flex-row flex-wrap gap-8">
    @if (range.value.end !== null && range.value.start !== null) {
    @if (filteredPayslips.length === 0) {
    <p>Aucune paies ne correspond à critères recherchés.</p>
    } @else {
    @for (payslip of filteredPayslips; track $index) {
    <app-payslip-item [payslip]="payslip" (edit)="edit($event)" (delete)="delete($event)" />
    }
    }
    }@else {
    @if (allPayslips.length === 0) {
    <p>Il n'y a aucune paies pour le moment.</p>
    } @else {
    @for (payslip of allPayslips; track $index) {
    <app-payslip-item [payslip]="payslip" (edit)="edit($event)" (delete)="delete($event)" />
    }
    }
    }
</div>
}