<form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="flex flex-col items-stretch justify-center flex-nowrap">
    <mat-form-field>
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput formControlName="username">
        @if (formGroup.controls["username"].invalid) {
        <mat-error>{{genericError(formGroup.controls["username"])}}</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="firstName">
        @if (formGroup.controls["firstName"].invalid) {
        <mat-error>{{genericError(formGroup.controls["firstName"])}}</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput formControlName="lastName">
        @if (formGroup.controls["lastName"].invalid) {
        <mat-error>{{genericError(formGroup.controls["lastName"])}}</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{employee !== null ? "Changer le mot de passe" : "Mot de passe"}}</mat-label>
        <input matInput formControlName="password">
        @if (formGroup.controls["password"].invalid) {
        <mat-error>{{genericError(formGroup.controls["password"])}}</mat-error>
        }
    </mat-form-field>
    <div class="flex flex-col">
        <mat-label>Rôle</mat-label>
        @for (rank of ranks; track rank) {
        <mat-checkbox (change)="changeRank(rank, $event.checked)"
            [checked]="employee?.ranks?.includes(rank)">{{rank}}</mat-checkbox>
        }
        @if (ranksCtrl.invalid) {
        <mat-error>{{genericError(ranksCtrl)}}</mat-error>
        }
    </div>
    <div class="flex flex-col">
        <mat-label>Permissions</mat-label>
        @for (perm of permissions; track perm) {
        <mat-checkbox (change)="changePermission(perm, $event.checked)"
            [checked]="employee?.permissions?.includes(perm)">{{perm}}</mat-checkbox>
        }
        @if (permissionsCtrl.invalid) {
        <mat-error>{{genericError(permissionsCtrl)}}</mat-error>
        }
    </div>
    <mat-form-field>
        <mat-label>Département</mat-label>
        <mat-select formControlName="department">
            @for (department of departments; track department) {
            <mat-option [value]="department.id">{{department.name}}</mat-option>
            }
        </mat-select>
        @if (formGroup.controls["department"].invalid) {
        <mat-error>{{departmentError()}}</mat-error>
        }
    </mat-form-field>
    <button mat-flat-button type="submit" [disabled]="formGroup.invalid">{{employee ? "Modifier" : "Ajouter"}}</button>
</form>