html,
body {
    margin: 0;
    padding: 0;
    color: black;
    min-height: 100dvh;
    max-width: 100dvw;
    overflow-x: hidden;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 1;
    margin-inline: 1em;
    backdrop-filter: blur(10px);

    > * {
        margin-inline: 0.5em;
    }
}

footer {
    background-color: white;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 2em;
}

section {
    padding: 2rem 1rem;
}

article {
    max-width: 1280px;
    margin: 0 auto;
}


form {
    display: flex;
    flex-direction: column;

    label {
        margin: 0 1em;
    }
}

.inline-form {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

td form {
    display: block;

    input {
        display: none;
    }
}

table {
    width: 100%;
}

.action-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
        margin: 0;
    }
}

.scroll-menu {
    display: flex;
    flex-direction: column;
    max-height: 50px;
    overflow: auto;

    >div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;

        label {
            margin: 0;
        }
    }
}

select,
input,
button,
textarea,
dialog,
summary {
    border-radius: 8px;
    padding: 4px 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    margin-inline: 1em;
    border: 0;
    font: inherit;
    box-sizing: border-box;
}

dialog {
    margin-bottom: auto;
}

button {
    cursor: pointer;
}

button:disabled,
button[disabled] {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

button:active,
input[type="submit"]:active {
    box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

textarea {
    resize: none;
}


h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2em;
    margin: .5em 0;
}

hr {
    width: 100%;
}

a:active,
a:hover {
    text-decoration: underline;
}

a:visited,
a:link {
    color: black;
}

:any-link {
    text-decoration: none;
}